@charset "utf-8";

// Color
//------------------------------------------------------------------------------

	//Grayscale
	$gl-black100: #000;
	$gl-black90: #333;
	$gl-black80: #414141;
	$gl-black70: #666;
	$gl-black60: #7d7d7d;
	$gl-black50: #999;
	$gl-black40: #b2b1b1;
	$gl-black30: #CCC;
	$gl-black20: #DDD;
	$gl-black10: #e3e3e3;
	$gl-black0: #f7f7f7;

	// Other
	$gl-red: #ea0a0a;
	$gl-blue: #2D72A7;
	$gl-yellow: #ead805;
	$gl-green: #9abc50;
	$gl-aqua: #50a4d4;
